<div id="contact_projects">  
	<style type="text/css">
		#contact_projects ul {margin: 0;  padding: 0;}
		#contact_projects li {list-style-type:none; margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
		#contact_projects select {width: 95%; display: block;}
		#contact_projects a.delete {opacity: 0.4;}
		#contact_projects a.delete:hover {opacity: 1;}
		#contact_projects img.gravatar {vertical-align: middle; margin: 0 4px 2px 0;} 
	</style>
	
	<div class="contextual">           
		<%= link_to_remote l(:button_add), 
		                   :url => {:controller => 'contacts',
		                            :action => 'add_contact_to_project',
									:project_id => @project,
		                            :id => @contact} if User.current.allowed_to?(:edit_contacts, @project) %>

	 </div>

	
	<h3><%= l(:label_project_plural) %> </h3>  
	
	<% unless !(@show_form == "true") %>
     	<% form_remote_tag( 
                	   :url => {:controller => 'contacts',
              	              	:action => 'add_contact_to_project',
         	                    :id => @contact,
                        		:project_id => @project},
       	             :method => :post,
      	             :html => {:id => 'add-project-form'}) do |f| %>
		<p><%= select_tag :new_project_id, project_tree_options_for_select(Project.visible.find(:all, :order => 'lft')), :prompt => "--- #{l(:actionview_instancetag_blank_option)} ---" %>

		<%= submit_tag l(:button_add) %>
		<%= toggle_link l(:button_cancel), 'add-project-form'%></p>
		<% end %>
	<% end %>
    
	<%= render_contact_projects_hierarchy @contact.projects %>

</div>
