<div id="issues">

<div class="contextual">
	<%= link_to l(:label_issue_new), {}, :onclick => "Element.show('add_issue'); Element.hide(this);  return false;", :id => 'add_task_link' if User.current.allowed_to?(:add_issues, @project) %>
</div>

<h3><%= l(:label_issue_plural) %> </h3> 
	  
<% if @project %>
	<%= error_messages_for 'issue' %>    

	<div id="add_issue" style="display:none;"> 
		   	<% form_tag({ :controller => 'contacts', :action => 'add_task', :project_id => @project, :id => @contact}, :multipart => true, :id => "add_task_form") do %> 
			<%= label_tag 'task_subject',  l(:field_subject)%> <br>
			<%= text_field_tag 'task_subject', "", :style => "width: 98%;" %><br>      

			<p>  
			<%= label_tag :assigned_to,  l(:field_assigned_to)%> <br>
			<%= select_tag :assigned_to,  options_from_collection_for_select(@project.assignable_users, :id, :name, User.current.id) %>
			</p>  
			<%= label_tag 'due_date',  l(:field_due_date)%> <br>
			<%= text_field_tag :due_date, Date.today,  :size => 12 %><%= calendar_for('due_date') %><br>   
		
			<p> 
			<%= label_tag :task_description,  l(:field_description)%> <br>      
			<%= text_area_tag :task_description, "", :rows => 6, :class => 'wiki-edit' , :style => "width: 98%;" %><br>      
			</p>
		
	        <p>
				<%= label_tag :task_tracker,  l(:field_tracker)%> <br>
				<%= select_tag :task_tracker,  options_from_collection_for_select(@project.trackers, :id, :name, @project.trackers.find(:first) ) %>
			
			</p>
			<br>
			<hr>
			<br>
			<%= submit_tag l(:button_add) %>
			<%= link_to l(:button_cancel), {}, :onclick => "Element.hide('add_issue'); Element.show('add_task_link'); return false;" %>
		
		<% end %>
	</div>        
<% end %>

<div id="contact_issues">

	<% if @contact.issues.any? %>
	<table style="width:100%">
		<% @contact.issues.select {|i| i.visible? && !i.closed?}.each do |issue| %>
		<tr id=<%="issue_#{issue.id}"%>> 
			<td style="vertical-align: top; padding-top: 4px;">  
				<% if issue.assigned_to == User.current %>
 			 	<%= check_box_tag :close, '', false, :onclick => "this.disable(); $('issue_#{issue.id}').style.textDecoration='line-through';" +  remote_function(:url => { :action => "close_issue", :id => @contact, :project_id => @project, :issue_id => issue }, :with => "issue_#{issue.id}") %>
				<% end %>
			</td>
     		
			<td style="vertical-align: top;">  
				<%= link_to issue.subject, :controller => :issues, :action => :show, :id => issue %>
			</td>
			<td style="vertical-align: top; text-align: right;"><%= format_date(issue.due_date) %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>

</div>
